<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.countysMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.countys" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="countyName" property="countyname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, countyName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from county
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from county
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.countys" >
    insert into county (id, countyName)
    values (#{id,jdbcType=INTEGER}, #{countyname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.countys" >
    insert into county
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="countyname != null" >
        countyName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="countyname != null" >
        #{countyname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.countys" >
    update county
    <set >
      <if test="countyname != null" >
        countyName = #{countyname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.countys" >
    update county
    set countyName = #{countyname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>