<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>oo</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>userAction</display-name>
    <servlet-name>userAction</servlet-name>
    <servlet-class>com.accp.action.userAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userAction</servlet-name>
    <url-pattern>/userAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>houseAction</display-name>
    <servlet-name>houseAction</servlet-name>
    <servlet-class>com.accp.action.houseAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>houseAction</servlet-name>
    <url-pattern>/houseAction</url-pattern>
  </servlet-mapping>
</web-app>